﻿@{
    ViewData["Title"] = "Workshop01";
}

<div class="text-center">
    <h1 class="display-4">Workshop01 Pre-Task</h1>
    <p>@ViewData["Message"]</p>
    <img src="images/apple.jpg" />
    <p>My Repo can be found <a href="https://gitlab.com/alvin19882688/courserepo">here </a>.</p>
</div>
